@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #171A1C;
  color: #fff;
}

.text {
  display: flex;
  justify-content: left;
}

h1 {
  height: 1rem;
}

@media screen and (max-width: 749px) {
  .text {
    height: 90vh;
  }

  h1 {
    font-size: 1.5rem;
    height: 0.9rem;
  }

  p {
    font-size: 0.9rem;
  }
}
